body {
            font-family: 'Inter', sans-serif;
            background-color: #FAC663; /* Color de fondo principal */
             /* Se quita el overflow-x-hidden para permitir que las formas se vean completas */
        }

        /* Contenedor principal para evitar que el contenido se desborde */
        .main-container {
            overflow-x: hidden;
        }

        /* Paleta de colores principal */
        :root {
            --bam-yellow: #FAC663;
            --bam-purple: #8453DB;
            --bam-purple-dark: #7148c2;
            --bam-pink: #F0386B;
            --bam-blue: #0A91AB;
        }

        .bg-bam-purple { background-color: var(--bam-purple); }
        .hover\:bg-bam-purple-dark:hover { background-color: var(--bam-purple-dark); }
        .text-bam-purple { color: var(--bam-purple); }
        
        /* Principio HCI: Mejora de Contraste y Legibilidad */
        /* Se añade una sombra sutil al texto para que destaque sobre el fondo. */
        .text-shadow {
            text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
        }

        /* Estilos para las formas decorativas SVG */
        .shape { position: absolute; z-index: 0; animation: float 8s ease-in-out infinite; }
        .shape-planet-1 { width: 130px; height: 130px; top: 15%; left: 10%; }
        .shape-cloud-1 { width: 137px; top: 20%; right: 5%; animation-delay: -2s; }
        .shape-cloud-2 { width: 100px; bottom: 15%; left: 20%; animation-delay: -4s; transform: rotate(180deg); opacity: 0.75; }
        .shape-planet-2 { width: 130px; top: 70%; right: 10%; animation-delay: -3s; transform: scale(0.9); }
        .shape-cloud-3 { width: 80px; top: 65%; right: 25%; animation-delay: -5s; transform: rotate(90deg); }


        /* Animación para formas flotantes */
        @keyframes float {
            0% { transform: translateY(0px) rotate(0deg); }
            50% { transform: translateY(-20px) rotate(5deg); }
            100% { transform: translateY(0px) rotate(0deg); }
        }
        
        /* Animación para la aparición del texto */
        .fade-in-up {
            animation: fadeInUp 1s ease-out forwards;
            opacity: 0;
        }
        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .delay-1 { animation-delay: 0.2s; }
        .delay-2 { animation-delay: 0.4s; }
        .delay-3 { animation-delay: 0.6s; }


        /* Estilos para la navegación móvil */
        #mobile-menu {
            transition: transform 0.3s ease-in-out;
        }