body {
            font-family: 'Fredoka', sans-serif;
            background-color: #333333;
            color: #E0E0E0;
        }
        /* Paleta de colores principal */
        :root {
            --bam-yellow: #FAC663;
            --bam-purple: #8453DB;
            --bam-purple-dark: #7148c2;
            --bam-pink: #F0386B;
            --bam-red: #FB4D3D;
            --bam-green: #95DB53;
            --bam-blue: #0A91AB;
            --bam-grey-light: #ECECEC;
            --bam-grey-dark: #8D98A2;
            --bam-text-dark: #333333;
        }

        .bg-bam-yellow { background-color: var(--bam-yellow); }
        .bg-bam-purple { background-color: var(--bam-purple); }
        .hover\:bg-bam-purple-dark:hover { background-color: var(--bam-purple-dark); }
        .bg-bam-pink { background-color: var(--bam-pink); }
        .bg-bam-red { background-color: var(--bam-red); }
        .bg-bam-green { background-color: var(--bam-green); }
        .bg-bam-blue { background-color: var(--bam-blue); }
        .bg-bam-grey-light { background-color: var(--bam-grey-light); }
        .bg-bam-grey-dark { background-color: var(--bam-grey-dark); }

        .text-bam-dark { color: var(--bam-text-dark); }

        /* Estilos para el modal */
        .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 40;
        }
        .modal {
            z-index: 50;
            max-height: 90vh;
        }